
      <div class="container-middle" ng-controller="ad_lictrl">
          <ul class="b-nav">
            <a href="#">广告管理</a><span>></span><a href="#">首页广告</a>
          </ul>


          <div class="main_title">首页广告</div>
          <!--主要内容-->
          <div class="wd_main">
            <div class="top_nav">
              <li class="on">banner</li>
              <li>中部广告</li>
              <li>底部广告</li>

            </div>
            <!-- banner -->
            <div class="ad_main">
              <a href="#/ad_add" class="add_ad">+添加</a>
              <table>
                <tr>
                  <th class="th1">标题</th>
                  <th class="th2">尺寸</th>
                  <th class="th3">时间</th>
                  <th class="th4">操作</th>
                </tr>

                <tr ng-repeat="x in banners" ng-hide="flag">
                  <td class="ad_title">{{x.title}}</td>
                  <td>{{x.length}}</td>
                  <td>{{x.start_time}}<span>至</span>{{x.end_time}}</td>
                  <td><a href="#/ad/{{x.id}}" class="ad_edit">编辑</a> <a href="javascript:;" class="ad_delete" ng-click="flag=true">删除</a></td>
                </tr>


              </table>

            </div>
            <!-- 中部广告 -->
            <div class="ad_main">
              <a href="#/ad_add" class="add_ad">+添加</a>
              <table>
                <tr>
                  <th class="th1">标题</th>
                  <th class="th2">尺寸</th>
                  <th class="th3">时间</th>
                  <th class="th4">操作</th>
                </tr>
                <tr>
                  <td class="ad_title">中部广告1</td>
                  <td>1920*450</td>
                  <td>2016-08-17 19：00：00至2016-09-17 19：00：00</td>
                  <td><a href="javascript:;" class="ad_edit">编辑</a> <a href="javascript:;" class="ad_delete">删除</a></td>
                </tr>
                <tr>
                  <td class="ad_title">中部广告2</td>
                  <td>1920*450</td>
                  <td>2016-08-17 19：00：00至2016-09-17 19：00：00</td>
                  <td><a href="javascript:;" class="ad_edit">编辑</a> <a href="javascript:;" class="ad_delete">删除</a></td>
                </tr>
                <tr>
                  <td class="ad_title">中部广告3</td>
                  <td>1920*450</td>
                  <td>2016-08-17 19：00：00至2016-09-17 19：00：00</td>
                  <td><a href="javascript:;" class="ad_edit">编辑</a> <a href="javascript:;" class="ad_delete">删除</a></td>
                </tr>

              </table>

            </div>

            <!-- 底部广告 -->
            <div class="ad_main">
              <a href="#/ad_add" class="add_ad">+添加</a>
              <table>
                <tr>
                  <th class="th1">标题</th>
                  <th class="th2">尺寸</th>
                  <th class="th3">时间</th>
                  <th class="th4">操作</th>
                </tr>
                <tr>
                  <td class="ad_title">底部广告1</td>
                  <td>1920*450</td>
                  <td>2016-08-17 19：00：00至2016-09-17 19：00：00</td>
                  <td><a href="javascript:;" class="ad_edit">编辑</a> <a href="javascript:;" class="ad_delete">删除</a></td>
                </tr>
                <tr>
                  <td class="ad_title">底部广告2</td>
                  <td>1920*450</td>
                  <td>2016-08-17 19：00：00至2016-09-17 19：00：00</td>
                  <td><a href="javascript:;" class="ad_edit">编辑</a> <a href="javascript:;" class="ad_delete">删除</a></td>
                </tr>
                <tr>
                  <td class="ad_title">底部广告3</td>
                  <td>1920*450</td>
                  <td>2016-08-17 19：00：00至2016-09-17 19：00：00</td>
                  <td><a href="javascript:;" class="ad_edit">编辑</a> <a href="javascript:;" class="ad_delete">删除</a></td>
                </tr>

              </table>

            </div>


          </div>
      </div>



  <script>
  // 广告管理
  $(function () {
    tabAni(0);    //初始化
    $('.top_nav li').click(function () {    //点击，获取第几位
        var int = $(this).index();      //index()获取当前元素第几位，0开始
        tabAni(int);
    });
    //遍历第几位
    function tabAni(int) {
        $('.top_nav li').removeClass('on').eq(int).addClass('on');
        $('.ad_main').hide().eq(int).show();
    };
  });

  $(function () {

    $('.ad_delete').click(function(){
      var title = $(this).parent().prev().prev().prev().text();
      yes1 = new $(this).parent().parent();
      console.log(yes1);

      tip_fadeIn(0,'是否删除 '+title+' ?');  //0提示，1警告，2成功，3错误
      $('.btn_yes').click(function(){   //确认
        yes1.detach();
      })
    });


  });

  </script>





