

      <div class="container-middle" ng-controller="express_editctrl">
          <ul class="b-nav">
            <a href="javascript:;">交易管理</a><span>></span><a href="javascript:;">物流管理</a>
          </ul>

          <div class="main_title">编辑物流公司</div>
          <!--主要内容-->
          <div class="wd_main">
            <div class="exp_main">


              <!-- 添加物流 -->
              <div class="pay_type" id="exp_main" style="display:block;">
                <p><span><i>*</i>物流公司：</span><input type="text" ng-model="exp.title"></p>
                <p><span><i>*</i>价格（统一）：</span><input type="text" ng-model="exp.price">（元）</p>
                <input type="submit" value="保存" class="pay_submit" id="sub_zhifubao">
                <input type="button" value="取消" class="pay_close" onclick="javascript:history.back()">
              </div>


            </div>



          </div>
      </div>







